nav {
  background-color: var(--primary-very-very-dark);
  color: var(--primary-light);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

nav a {
  color: var(--primary-light);
  font-size: xx-large;
  text-decoration: none;
  margin: 0 1rem;
}

nav a:hover {
  color: var(--primary-very-light);
  text-decoration: underline;
  transition: right 1s ease;
  cursor: pointer;
}

.links {
  display: flex;
  flex-direction: row;
}

.search-bar {
  flex: 1;
}
