nav {
  background-color: var(--primary-very-dark);
  color: var(--primary-light);
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  color: var(--primary-light);
  font-size: xx-large;
  text-decoration: none;
}

nav a:hover {
  color: var(--primary-very-light);
  text-decoration: underline;
  transition: right 1s ease;
  cursor: pointer;
}
