.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: space-around;
  flex-wrap: wrap;
}
.search-bar {
  flex: 1;
  height: 1rem;
  align-self: center;
}

.filters-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: hidden;
}

ul {
  width: 100vw;
}
.filter-item {
  display: inline-block;
}

.types-button {
  margin: 0.5rem 0.5rem;
  width: auto;
  height: 1.5rem;
}
.search-button {
  margin: 0.5rem 0.5rem;
  width: auto;
  height: 1.5rem;
}
