body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--primary-color);
  color: var(--primary-very-light);
}

.moving-button {
  background-color: var(--tertiary-very-light);
  color: var(--tertiary-very-dark);
  font-weight: bold;
  padding: var(--spacing-unit) var(--spacing-unit * 2);
  border: none;
  border-radius: var(--border-radius);

  font-family: var(--font-family);
  font-size: var(--font-size);

  transition: transform 0.3s ease;
}

.moving-button:hover {
  background-color: var(--tertiary-light);
  animation: bounce 0.5s ease infinite;
}

h1 {
  font-size: 5rem; /* Adjust the font size as needed */
  margin-top: 1rem; /* Add margin to the top of h1 elements */
}

h2 {
  font-size: 3rem; /* Adjust the font size as needed */
  margin-top: 1rem; /* Add margin to the top of h1 elements */
  text-align: center;
  color: var(--primary-very-light);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(0.08em);
  }
  50% {
    transform: translateX(-0.08em);
  }
}
