.random-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 242, 197);
  /* flex: 1; */
}

.random-card-title {
  flex: 1;
}
.random-card-img {
  flex: 1;
}
